# Node modules
node_modules

# Diretórios de cache
*.log
*.tmp
*.cache

# Diretórios do Python
python/

# Arquivos de configuração
.env
.env.example

# Diretórios de build
coverage/
build/
dist/

# Arquivos específicos do Docker
.dockerignore
Dockerfile
docker-compose.yml

python/venv

uploads
